// workshop style

@import "./vars";

#workshopPage,
#shopPage,
#coffeePage,
#leavingPage,
#eventsPage {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    p {

        background-color: $backgroundColorWhite;
        width: 11rem;
        height: 11rem;
        border-radius: 0.5rem;
        margin: 0.5rem;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1rem;
        box-shadow: 1px 1px 6px 0px black;


    }

    .backgroundPicture {
        width: 100vw;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        z-index: -5;
    }
}

.sideBar {
    width: 12vw;
    height: 100vh;
    background-color: $backgroundColorWhite;
    display: flex;
    justify-content: center;
    align-items: center;

    h4 {
        font-size: 1.2rem;
    }
}

.container {
    width: 80vw;
    margin: 3rem;
    background-color: $backgroundColorWhite;
    border-radius: 2rem;
    overflow: hidden;

    h5 {
        background-color: $backgroundColorBlack;
        color: white;
        text-align: center;
        margin-top: 1rem;
        font-size: 2rem;
    }
}

.content {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: bold;
}

#leavingPage {
    .backgroundPicture {
        top: -10rem;
    }

    .cardsContainer {
        width: 88vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .card {
            width: 30vw;
            height: 40vh;
            background-color: aqua;
            border-radius: 1rem;
            transition: 0.3s;

            &:hover {
                transform: scale(1.009);
            }

            h5 {
                color: white;
                background-color: $backgroundColorBlack;
                padding: 0.8rem;
                font-size: 1.2rem;
            }
        }
    }
}

.oneDay {
    background-image: url("/images/oneDay.jpg");
    background-size: cover;
    background-position: center;
}

.weekend {
    background-image: url("/images/weekend.jpg");
    background-size: cover;
    background-position: center;
}

.oneWeek {
    background-image: url("/images/oneWeek.jpg");
    background-size: cover;
    background-position: center;
}

.forever {
    background-image: url("/images/forever.jpg");
    background-size: cover;
    background-position: center;
}

// style events

#eventsPage, .data-render {

    .events__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .container {
    overflow-y: scroll;
    ::-webkit-scrollbar {
        width: 3rem;

    }
    ::-webkit-scrollbar-track {
        background: $backgroundColorBlack;
        
    }

    }

    .event__card {
        background-color: $backgroundColorWhite;
        width: 10rem;
        height: fit-content;
        border-radius: 0.5rem;
        margin: 0.5rem;
        overflow: hidden;
        box-shadow: 1px 1px 6px 0px black;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.6fr 1.4fr;
        grid-template-areas:
            ". ."
            "event__title event__title"
            "event__description event__description";
           gap: 0.1rem 0.1rem;

        .event__day {
            font-size: 2rem;           
            overflow: hidden;
            text-align: center;
        }

        .event__logo {
            width: 75%;
            // height: 100%;
            padding: 0.2rem;
            overflow: hidden;
           
        }

        .event__title,
        .event__description {
            font-size: 0.8rem;
            overflow: hidden;
        }

        .event__title {
            // font-weight: bold;
            background-color: $backgroundColorBlack;
            color: aquamarine;
            grid-area: event__title;
            text-align: center;
        }

        .event__description {
            font-style: italic;
            padding: 0.2rem;
            grid-area: event__description;
        }
    }
}
