// workshop style

@import "./vars";

section:not(#mainPage) {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;


    // p = card / tuile avec infos pour chaque rubrique workshop, coffee...
    .card {
        background-color: $backgroundColorWhite;
        width: 10rem;
        height: 10rem;
        border-radius: 0.5rem;
        margin: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1rem;
        box-shadow: 1px 1px 6px 0px black;
        padding: 0.2rem;
        transform: translateX(100vw);
        transition: 1s ease;
    }
    
    .card.active {
        transform: translate(0);
        // opacity: 1;
    }

    .--bigCard {
        width: 12rem;
        height: 12rem;
        background-color: $backgroundColorBlack;
        color: white;
    }

    .backgroundPicture {
       
        width: 100vw;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        z-index: -5;
    }
}

.sideBar {
    width: 12vw;
    min-height: 100vh;
    background-color: $backgroundColorWhite;
    display: flex;
    justify-content: center;
    align-items: center;

    h4 {
        font-size: 1.2rem;
    }
}

.comingEventsContainer {
    width: fit-content;  
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1rem;
    color: black;
    text-shadow: 0 0 black;
    transition: opacity 0.9s ease;

    h4 {
        text-align: center;
        font-size: 1.2rem;
        padding: 1rem;
        background-color: $backgroundColorBlack;
        color: white;
        border-radius: 1rem;
    }
}


.container {
    width: 80vw;
    margin: 1rem auto;
    background-color: $backgroundColorWhite;
    border-radius: 2rem;
    overflow: hidden;

    h5 {
        background-color: $backgroundColorBlack;
        color: white;
        text-align: center;
        margin-top: 1rem;
        font-size: 2rem;
        display: flex;
        justify-content: space-evenly;
        transform: translate(-100%);
        opacity: 0;
        transition: transform 0.9s ease-in-out, opacity 0.9s ease-out;
        padding: 0 1rem;
    }

    h5.active {
        transform: translate(0%);
        opacity: 1;
    }
}

.content {
    width: 100%;
    height: 91%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    overflow: hidden;
    padding-bottom: 0.5rem;
}

#leavingPage {
    background-image: url("/images/forever.jpg");
    background-size: cover;
    background-position: center;

    .cardsContainer {
        width: 88vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .leavingCard {
            width: 30vw;
            height: 40vh;
            overflow: hidden;            
            border-radius: 1rem;
            transition: 0.3s;
            // background-clip: content-box;

            &:hover {
                transform: scale(1.009);
            }

            h5 {
                color: white;
                background-color: $backgroundColorBlack;
                padding: 0.8rem;
                font-size: 1.2rem;
            }
        }
    }
}

.oneDay {
    background-image: url("/images/oneDay.jpg");
    background-size: cover;
    background-position: center;
}

.weekend {
    background-image: url("/images/weekend.jpg");
    background-size: cover;
    background-position: center;
    border: 0 solid transparent;
}

.oneWeek {
    background-image: url("/images/oneWeek.jpg");
    background-size: cover;
    background-position: center;
}

.forever {
    background-image: url("/images/leaving.jpg");
    background-size: cover;
    background-position: center;
}

// style events

#eventsPage,
#mainPage,
.data-render {
    .events__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 1rem auto;
    }
    
    
    .event__card {
        transition: 1.5s ease;
        opacity: 0;
        background-color: $backgroundColorWhite;
        width: 180px;
        height: 180px;
        border-radius: 0.5rem;
        margin: 0.5rem;
        overflow: hidden;
        box-shadow: 1px 1px 6px 0px black;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.6fr 1.4fr;
        grid-template-areas:
            ". ."
            "event__title event__title"
            "event__description event__description";
        gap: 0.1rem 0.1rem;

       
        &.active {
            opacity: 1;
        }

        .event__day {
            font-size: 2rem;
            overflow: hidden;
            text-align: center;
            margin:auto;
        }

        .event__logo {
            width: 70%;
            // height: 100%;
            padding: 0.2rem;
            overflow: hidden;
            filter: grayscale(1);
        }

        .event__title,
        .event__description {
            font-size: 0.8rem;
            overflow: hidden;
        }

        .event__title {
            // font-weight: bold;
            background-color: $backgroundColorBlack;
            color: aquamarine;
            grid-area: event__title;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .event__description {
            font-style: italic;
            padding: 0.2rem;
            grid-area: event__description;
        }
    }
}

#mainPage .comingEvents .event__card {
    opacity: 1;
}

#eventsPage .event__card.--hidden {
    display: none;
}

// slider

.slider {
    position: relative;
}

.arrowRight {
    cursor: pointer;
}

// Button download events

.eventsDownloadButton {
    
    background-color: $backgroundColorBlack;
    color: aquamarine;
    padding: 0.2rem 0.6rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    right: 50%;
    transform: translateX(35%);
}
.evenstDownloadButton:active {
    transform: scale(98%);
    color: rgb(0, 255, 170);
}
