@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.login-container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgray;
}

.login-container h2 {
  margin-bottom: 1rem;
}

.login-container .input-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 20vh;
  padding: 1rem;
  background-color: white;
  -webkit-box-shadow: 3px 2px 10px 0px rgba(0, 0, 0, 0.637);
          box-shadow: 3px 2px 10px 0px rgba(0, 0, 0, 0.637);
  border-radius: 5px;
}

.button {
  background-color: black;
  color: aliceblue;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  width: 200px;
}

.button:hover {
  background-color: burlywood;
  color: black;
}

.back-home {
  background-color: black;
  padding: 0.5rem;
  border-radius: 5px;
  color: aliceblue;
  position: absolute;
  top: 5px;
  right: 5px;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.events input {
  margin: 5px;
}

.data-render {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0.5rem;
}

.data-render ul {
  margin: 0.2rem;
  padding: 0.3rem;
  background-color: aliceblue;
  border-radius: 2px;
}

section:not(#mainPage) {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

section:not(#mainPage) .card {
  background-color: rgba(255, 255, 255, 0.705);
  width: 10rem;
  height: 10rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1rem;
  -webkit-box-shadow: 1px 1px 6px 0px black;
          box-shadow: 1px 1px 6px 0px black;
  padding: 0.2rem;
}

section:not(#mainPage) .--bigCard {
  width: 12rem;
  height: 12rem;
  background-color: rgba(0, 0, 0, 0.808);
  color: white;
}

section:not(#mainPage) .backgroundPicture {
  width: 100vw;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -5;
}

.sideBar {
  width: 12vw;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.705);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideBar h4 {
  font-size: 1.2rem;
}

.comingEventsContainer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 1rem;
  color: black;
  text-shadow: 0 0 black;
  -webkit-transition: opacity 0.9s ease;
  transition: opacity 0.9s ease;
}

.comingEventsContainer h4 {
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.808);
  color: white;
  border-radius: 1rem;
}

.container {
  width: 80vw;
  margin: 1rem auto;
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 2rem;
  overflow: hidden;
}

.container h5 {
  background-color: rgba(0, 0, 0, 0.808);
  color: white;
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  opacity: 0;
  -webkit-transition: opacity 0.9s ease-out, -webkit-transform 0.9s ease-in-out;
  transition: opacity 0.9s ease-out, -webkit-transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out, opacity 0.9s ease-out;
  transition: transform 0.9s ease-in-out, opacity 0.9s ease-out, -webkit-transform 0.9s ease-in-out;
  padding: 0 1rem;
}

.container h5.active {
  -webkit-transform: translate(0%);
          transform: translate(0%);
  opacity: 1;
}

.content {
  width: 100%;
  height: 91%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.5rem;
  overflow: hidden;
  padding-bottom: 0.5rem;
}

#leavingPage {
  background-image: url("/images/forever.jpg");
  background-size: cover;
  background-position: center;
}

#leavingPage .cardsContainer {
  width: 88vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#leavingPage .cardsContainer .leavingCard {
  width: 30vw;
  height: 40vh;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#leavingPage .cardsContainer .leavingCard:hover {
  -webkit-transform: scale(1.009);
          transform: scale(1.009);
}

#leavingPage .cardsContainer .leavingCard h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.808);
  padding: 0.8rem;
  font-size: 1.2rem;
}

.oneDay {
  background-image: url("/images/oneDay.jpg");
  background-size: cover;
  background-position: center;
}

.weekend {
  background-image: url("/images/weekend.jpg");
  background-size: cover;
  background-position: center;
  border: 0 solid transparent;
}

.oneWeek {
  background-image: url("/images/oneWeek.jpg");
  background-size: cover;
  background-position: center;
}

.forever {
  background-image: url("/images/leaving.jpg");
  background-size: cover;
  background-position: center;
}

#eventsPage .events__content,
#mainPage .events__content,
.data-render .events__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1rem auto;
}

#eventsPage .event__card,
#mainPage .event__card,
.data-render .event__card {
  background-color: rgba(255, 255, 255, 0.705);
  width: 180px;
  height: 180px;
  border-radius: 0.5rem;
  margin: 0.5rem;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 6px 0px black;
          box-shadow: 1px 1px 6px 0px black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 0.6fr 1.4fr;
      grid-template-rows: 1fr 0.6fr 1.4fr;
      grid-template-areas: ". ." "event__title event__title" "event__description event__description";
  gap: 0.1rem 0.1rem;
}

#eventsPage .event__card .event__day,
#mainPage .event__card .event__day,
.data-render .event__card .event__day {
  font-size: 2rem;
  overflow: hidden;
  text-align: center;
  margin: auto;
}

#eventsPage .event__card .event__logo,
#mainPage .event__card .event__logo,
.data-render .event__card .event__logo {
  width: 70%;
  padding: 0.2rem;
  overflow: hidden;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

#eventsPage .event__card .event__title,
#eventsPage .event__card .event__description,
#mainPage .event__card .event__title,
#mainPage .event__card .event__description,
.data-render .event__card .event__title,
.data-render .event__card .event__description {
  font-size: 0.8rem;
  overflow: hidden;
}

#eventsPage .event__card .event__title,
#mainPage .event__card .event__title,
.data-render .event__card .event__title {
  background-color: rgba(0, 0, 0, 0.808);
  color: aquamarine;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: event__title;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#eventsPage .event__card .event__description,
#mainPage .event__card .event__description,
.data-render .event__card .event__description {
  font-style: italic;
  padding: 0.2rem;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: event__description;
}

#eventsPage .event__card.--hidden {
  display: none;
}

.slider {
  position: relative;
}

.arrowRight {
  cursor: pointer;
}

.eventsDownloadButton {
  background-color: rgba(0, 0, 0, 0.808);
  color: aquamarine;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  right: 50%;
  -webkit-transform: translateX(35%);
          transform: translateX(35%);
}

.evenstDownloadButton:active {
  -webkit-transform: scale(98%);
          transform: scale(98%);
  color: #00ffaa;
}

.adminEventsContainer {
  padding: 1rem;
}

.event__card {
  position: relative;
}

.event__card .deleteButton {
  position: absolute;
  top: 0;
  right: 0.1rem;
  background-color: red;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.1rem;
  padding: 0.2rem;
  border-radius: 5px;
}

.event__card .deleteButton:hover {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

li {
  list-style-type: none;
  color: black;
}

a {
  text-decoration: none;
}

.--hidden {
  display: none;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-perspective: 10px;
          perspective: 10px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  z-index: -10;
}

#mainPage {
  width: 100vw;
  position: relative;
  z-index: -10;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.backHome, .backHomeMobile {
  display: none;
  background-color: rgba(0, 0, 0, 0.808);
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 12vw;
  padding: 0.5rem;
  z-index: 10;
}

.backHomeMobile div {
  font-size: 2vw;
}

.backgroundPicture {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow-x: hidden;
}

#mainPage .backgroundPicture {
  -webkit-transform: translateZ(-10px) scale(2);
          transform: translateZ(-10px) scale(2);
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes move {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title .title__logo {
  margin-left: 0.5rem;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-position: center;
  height: 20vh;
  width: 10vw;
  background-repeat: no-repeat;
}

.title__content {
  width: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

.title__content h1 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

.title__content h2 {
  font-size: 1rem;
}

.title__content h1,
.title__content h2 {
  text-align: center;
}

nav {
  width: 100%;
  overflow: hidden;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1.6rem;
}

nav ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li {
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li:hover {
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

nav ul li::after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.socialMediaContainer {
  background-color: rgba(0, 0, 0, 0.808);
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(35vh);
          transform: translateY(35vh);
  padding: 0.5rem;
  color: white;
  z-index: 50;
}

.socialMediaContainer img {
  width: 3rem;
}

.socialMediaContainer::after {
  content: "détails";
  font-size: 0.6rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  right: -25px;
  top: 45%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 5px;
  color: black;
  cursor: pointer;
  padding: 0.1rem;
}

.socialMediaContainer .shopPhone, .socialMediaContainer .coffeePhone {
  cursor: pointer;
}

.showInfo {
  background-color: rgba(0, 0, 0, 0.808);
  border-radius: 0.5rem;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  position: absolute;
  top: 2rem;
  left: 8rem;
  bottom: 2rem;
  z-index: 9999;
  overflow: visible;
  margin-left: 3rem;
  padding: 1rem;
}

.presentation {
  color: aliceblue;
  width: 100vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.2rem;
  text-shadow: 1px 1px 1px black;
  text-shadow: 0 0 5px black;
  position: relative;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
          transform: rotate3d(0, 0, 0, 0deg);
}

.presentation .presentation__title {
  text-align: center;
  padding-top: 1rem;
}

.comingEvents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.comingEvents .event__title {
  color: white !important;
}

@media screen and (max-width: 850px) {
  .socialMediaContainer img {
    width: 2rem;
  }
  .event__title {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .event__day {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .event__description {
    display: none;
  }
  .presentation {
    font-size: 1.5rem;
  }
  .presentation__title, .presentation__subtitle {
    font-size: 1.5rem;
  }
  nav {
    display: none;
  }
  .title {
    width: 100%;
  }
  .title .title__logo {
    width: 35vw;
  }
  .title__content {
    width: 100%;
    text-align: center;
  }
  .title__content h1 {
    font-size: 2rem;
  }
  .title__content h2 {
    font-size: 1.5rem;
  }
  #mainPage h4 {
    display: none;
  }
  h5 {
    font-size: 1rem !important;
  }
  .card {
    width: 6.5rem !important;
    height: 6.5rem !important;
  }
  .--bigCard {
    width: 8rem !important;
    height: 8rem !important;
  }
  .event__card {
    width: 6rem !important;
    height: 6rem !important;
  }
  .backgroundPicture:not(#mainPage .backgroundPicture) {
    width: 195vw;
    height: 101vh;
  }
  section h4:not(#mainPage h4) {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
  }
  #leavingPage {
    background-image: none;
  }
  #leavingPage .cardsContainer {
    width: none;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #leavingPage .cardsContainer .leavingCard {
    width: 88vw;
    height: 25vh;
    border-radius: 0;
  }
}
/*# sourceMappingURL=style.css.map */