<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/style.css">
    <title>La roue libre</title>
</head>

<body>
    <section>
        <div class="homepage">
            <a class="homepage-link" href="/la-roue-libre">
                <div class="welcomeMessage">
                    <h1>Bienvenue à la roue libre, </br> le café des voyageurs</h1>
                    
                   
                </div>
            </a>
            <img src="images/accueil.jpg" data-speed="1.5" alt="vélo de randonnées devant payasage montagneux"
                class="image">
        </div>


    </section>

    <script src="js/homePage.js"></script>

</body>

</html>