<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>La roue Libre Trévoux</title>
</head>

<body>

    <!-- 6 sections: 1 page d'accueil avec 1 hedaer /navbar ... + 5 sections avec la même structure side bar + content -->

    <section id="mainPage">
        <a href="#mainPage">

            <div class="backHome">Retour accueil</div>
        </a>

        <div class="backgroundImage">
            <img class="backgroundPicture" src="/images/canyon.jpg" alt="vélo de randonnée devant grand canyon">
            <header class="main">
                <div class="title">
                    <div class="title__logo"></div>
                    <div class="title__content">
                        <h1>La roue libre</h1>
                        <h2>café-vélo Trévoux</h2>
                    </div>
                </div>
                <nav>
                    <ul>
                        <a href="#workshopPage">
                            <li class="nav-link">Atelier</li>
                        </a>
                        <a href="#shopPage">
                            <li class="nav-link">Magasin</li>
                        </a>
                        <a href="#coffeePage">
                            <li class="nav-link">Café</li>
                        </a>
                        <a href="#eventsPage">
                            <li class="nav-link">Evènements</li>
                        </a>
                        <a href="#leavingPage">
                            <li class="nav-link">Envie de partir ?</li>
                        </a>
                    </ul>
                </nav>
            </header>

            <div class="mainPageContainer">



                <div class="contact">
                    <h4 class="contact__title">Nous contacter</h4>
                    <div class="socialMedia">
                        <div class="gafa">
                            <div class="socialMedia__facebook">
                                <a href="https://www.facebook.com/La-Roue-Libre-Tr%C3%A9voux-103595691886177"
                                    target="_blank">
                                    <img src="images/facebook.png" alt="lien vers le site de la roue libre trevoux">
                                </a>
                            </div>
                            <div class="socialMedia__instagram">
                                <a href="https://www.instagram.com/larouelibretrevoux/?hl=fr" target="_blank">
                                    <img src="/images/insta.png" alt="lien vers instagram la roue libre trevoux">
                                </a>

                            </div>
                            <div class="socialMedia__tweeter">
                                <a href="https://twitter.com/larouelibretrvx" target="_blank">
                                    <img src="/images/twitter.png" alt="lien vers twitter la roue libre trevoux">
                                </a>

                            </div>
                            <div class="socialMedia__mail">
                                <a href="contact@larouelibretrevoux.fr" target="_blank">
                                    <img src="/images/gmail.png" alt="lien vers gmail la roue libre trevoux">
                                </a>
                            </div>
                        </div>
                        <div class="socialMedia__phone">
                            <div class="logo">
                            </div>
                            <p>06 51 09 56 88</p>
                        </div>
                        <div class="socialMedia__maps">
                            <a href="https://www.google.fr/maps/place/La+Roue+Libre+Caf%C3%A9-v%C3%A9lo+Tr%C3%A9voux/@45.9330815,4.7819246,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4919aa91c5f8f:0xf893837326e36469!8m2!3d45.9329594!4d4.7841937"
                                target="_blanck">
                                <img src="/images/maps.png" alt="lien vers gmail la roue libre trevoux">
                            </a>
                            <p>Chem. de la Croix Marinier</br> 01600 Trévoux</p>
                        </div>
                    </div>
                </div>


                <div class="presentation">
                    <h3 class="presentation__title">Le café-vélo des voyageurs</h3>
                    <h3 class="presentation__subtitle">au quotidien et au long cours</h3>
                </div>

            </div>
        </div>

    </section>

    <!-- workshop -->

    <section id="workshopPage">
        <img src="/images/atelier.jpeg" alt="" class="backgroundPicture">
        <div class="sideBar">
            <h4>L'atelier</h4>
        </div>
        <div class="container">
            <h5>Venez réparer n'importe quel biclou!</h5>
            <div class="content">
                <p>Recharge gratuite de batterie</p>
                <p>Réparation "minute" pour les voyageurs</p>
                <p>Montage à la carte</p>
                <p>Peinture de votre cadre préféré</p>
            </div>
        </div>


    </section>

    <!-- shop -->

    <section id="shopPage">
        <img src="/images/magasin.jpg" alt="" class="backgroundPicture">
        <div class="sideBar">
            <h4>Le magasin</h4>
        </div>
        <div class="container">
            <h5>Des vélos pour les grands voyageurs mais aussi pour ceux du quotidien!</h5>
            <div class="content">
                <p>Electriques et mécaniques</p>
                <p>Bicicapace pour la famille</p>
                <p>Méral pour le style</p>
                <p>Superior pour la perf</p>
                <p>Marin pour la polyvalence</p>
                <p>Ahooga pour la ville</p>
                <p>Et tous les accessoires pour vos futures escapades ou loisirs</p>
            </div>
        </div>


    </section>


    <!-- coffee -->

    <section id="coffeePage">
        <img src="/images/café.jpg" alt="" class="backgroundPicture">
        <div class="sideBar">
            <h4>Le café</h4>
        </div>
        <div class="container">
            <h5>Venez vous requinquer ou profiter! </h5>
            <div class="content">
                <p>Bières de brasseries locales</p>
                <p>Glaces Terradélice</p>
                <p>Planches pour toutes les envies</p>
                <p>Les burritos végétariens</p>
                <p>Boissons froides et chaudes</p>
                <p>Wifi gratuit</p>
                <p>Installez vous confortablement pour en profiter</p>
            </div>
        </div>


    </section>

    <!-- leaving -->


    <section id="leavingPage">
        <img src="/images/leaving.jpg" alt="" class="backgroundPicture">
        <div class="sideBar">
            <h4>Envie de partir</h4>
        </div>
        <div class="cardsContainer">
            <div class="card oneDay">
                <h5>une journée</h5>
            </div>
            <div class="card weekend">
                <h5>un weekend</h5>
            </div>
            <div class="card oneWeek">
                <h5>une  semaine</h5>
            </div>
            <div class="card forever">
                <h5>pour la vie...</h5>
            </div>

        </div>


    </section>





</body>

</html>