<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/style.css">
    <title>La roue libre</title>
</head>

<body>
    
    <div class="login-container">
        <h2>Connexion pour création d'évènements</h2>
        <form class="login-form" method="POST" action="/events">
            <div class="input-fields">
                <input type="text" name="name" placeholder="nom">
                
                <input type="password" name="password" placeholder="mot de passe">
                <button>Se connecter</button>
            </div>
        </form>
    </div>

</body>

</html>